<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grab On Behind</title>
  </head>

  <body>
    <button type="reset" id="reset" onclick="location.href = '/game/new'">
      New Game
    </button>
    <h1></h1>
    <p>Hello <%=name%></p>
    <p>Group id:</p>
    <input type="text" value="<%=grp%>" id="grp" disabled />
    <button onclick="cboard()">Copy ID</button>

    <p></p>
    <form action="/game" method="post">
      <input
        type="text"
        name="value"
        placeholder="Enter a word"
        id="input"
        onkeyup="key()"
      />
      <button type="submit" id="button" disabled>Input word</button>
    </form>
    <p></p>

    <% if (inputs[grp] != undefined) { for (var i = 0; i < inputs[grp].length;
    i++) { %>
    <p><%= (inputs[grp][i][0]) %>: <%= (inputs[grp][i][1]) %></p>

    <%}}%> <% var e;if(e){%>
    <p style="color: red"><%= e%><%}%></p>

    <script>
      function key() {
        if (document.getElementById('input').value === '') {
          document.getElementById('button').disabled = true;
        } else {
          document.getElementById('button').disabled = false;
        }
      }
      const getCookie = (name) => {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          let c = cookies[i].trim().split('=');
          if (c[0] === name) {
            return c[1];
          }
        }
        return '';
      };
      function cboard() {
        /* Get the text field */
        var copyText = document.getElementById('grp');

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value);

        /* Alert the copied text */
        alert('Copied Group ID: ' + copyText.value);
      }
      // console.log(getCookie('name'));
    </script>
  </body>
</html>
